<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pde_aplicacion_gestion_novelas_segundo_plano_jaime_lopez_diaz">

    <!-- Permisos requeridos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Definición de la aplicación -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDE_Aplicacion_Gestion_Novelas_Segundo_Plano_Jaime_Lopez_Diaz">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Actividad principal (MainActivity) -->
        <activity
            android:name=".PantallaPrincipalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad para agregar/editar novelas -->
        <activity
            android:name=".activity.AddEditNovelActivity"
            android:exported="false" />

        <!-- Actividad para mostrar las reseñas -->
        <activity android:name=".activity.ReviewActivity"
            android:exported="false" />

        <!-- Actividad para mostrar las novelas favoritas -->
        <activity android:name=".activity.FavoritesActivity"
            android:exported="false" />

        <activity android:name=".activity.AddReviewActivity"
            android:exported="false" />

        <!-- Actividad para manejar Firebase (si se requiere para la autenticación) -->
        <!-- Esta parte es opcional, si usas Firebase Authentication u otros servicios -->
        <!--
        <activity android:name="com.google.firebase.auth.internal.GenericIdpActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        -->

    </application>

</manifest>
